body {}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1.item-none {
  display: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin h1($color: $text-color, $fontSize: 110px, $fontFamily: $futuraBold, $lineHeight: 102px, $textTransform: uppercase, $fontWeight: 700) {
  font-size: $fontSize;
  line-height: $lineHeight;
  text-transform: $textTransform;
  color: $color;
  font-family: $fontFamily;
  font-weight: $fontWeight;
}

.futura-h1 {
  @include h1;
}

